// Primary color
$primary-clr-one: hsl(225, 100%, 94%);
$primary-clr-two: hsl(245, 75%, 52%);

// Neutral color
$neutral-clr-one: hsl(225, 100%, 98%);
$neutral-clr-two: hsl(224, 23%, 55%);
$neutral-clr-three: hsl(223, 47%, 23%);

// Hover color
$hover-clr: hsl(245, 65%, 64%);

// Font family
$primary-font: 'Red Hat Display', sans-serif;

// Pattern background mobile
$pattern-bg-mobile: url("../../images/pattern-background-mobile.svg");

// Pattern background desktop
$pattern-bg-desktop: url("../../images/pattern-background-desktop.svg");